:root {
  --primary: #222D35;
  --primary-bright: #2D3F46;
  --textPrimary: #50AA97;
  --secondary: #C0C5C6;
}

.App {
  margin: 0;
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: var(--primary);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  cursor: pointer;
}

.btnAction {
  background-color: var(--primary);
  color: whitesmoke;
  height: 40px;
  font-size: 15px;
  width: 120px;
}

.color-primary {
  color: var(--primary);
}

.color-primary-bright {
  color: var(--primary-bright);
}

.color-text-primary {
  color: var(--textPrimary);
}

.color-secondary {
  color: var(--secondary);
}

.font-bold {
  font-weight: bold;
}

.content-details {
  background-color: #F1F2F0;
  height: 100%;
  margin: auto;
  padding: 2px 10px;
  width: 100%;
}

.content-details-main {
  height: 80%;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.content-details-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.content-List {
  display: block;
  height: inherit;
  margin: auto;
  overflow-y: auto;
  width: 100%;
}

.content-List-Item {
  align-items: center;
  display: flex;
  height: 80px;
  margin: auto;
  padding: 0;
  width: 100%;  
}

.content-List-Item div {
  line-height: 5px;
  margin: auto;
  padding: 0 10px;
}

.content-List-Item div:first-child {
  text-align: left;
  width: 90%;
}

.input_error {
  border: 2px solid red;
}

main {
  margin: 0;
  padding: 10px 100px;
}

.Main-content {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
}

.Main-content-item {
  height: 60vh;
  margin: auto;
  text-align: left;
  width: 45%;
}

.Main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.modal input {
  background-color: var(--secondary);
  border-style: none;
  border-bottom: 2px solid var(--textPrimary);
  margin-top: 10px;
}

.modal-header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.modal-header div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-desc {
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin-top: 10px;
  text-align: left;
}

.modal-desc textarea {
  background-color: var(--secondary);
  border-style: none;
  border-bottom: 2px solid var(--textPrimary);
  height: 5vw;
  margin-top: 10px;
  resize: none;
}

.modal-footer {
  height: 10vh;
  text-align: right;
}

.modal-footer button {
  border-style: none;
  margin-left: 20px;
}

.inner-modal {
  align-self: center;
  background-color: var(--secondary);
  height: 50vh;
  margin: 0;
  opacity: 100%;
  padding: 15px;
  position: absolute;
  text-align: left;
  width: 50vw;
}

.inner-modal h3 {
  color: var(--primary-bright);
  font-size: large;
}

.outer-modal {
  background-color: #222D35;
  height: 100vh;
  opacity: 90%;
  width: 100vw;
}
